@model VacationTypeViewModel

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <form method="post" asp-controller="VacationType" class="w-50" enctype="multipart/form-data" id="Form">
        <div class="d-flex align-items-center w-100 me-20">
            <div class="row w-100">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fs-2" asp-for="Name">نوع الاجازه</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <!--begin::Row-->
                    <div class="row">
                        <!--begin::Col-->
                        <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                            <input class="form-control form-control-solid fs-2" type="text" placeholder="ادحل نوع الاجازه" asp-for="Name" />
                            <span asp-validation-for="Name" class="fv-plugins-message-container invalid-feedback"></span>
                            <!--end::Col-->
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Content-->
        </div>
    </form>
    <div class=" align-content-center">
        <button type="submit" asp-controller="VacationType" asp-action="Create" class="btn btn-sm btn-primary" form="Form">
            <i class="bi bi-plus-square-dotted"></i>
            اضافه
        </button>
    </div>
</div>