@model WorkDailyFormViewModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
    ViewData["Title"] = "العمل اليومى";
}

<div class="card shadow-sm">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title col-12">
            <div class="d-flex col-6">
                <div class="row">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label fw-semibold fs-6" asp-for="User.FullName">اسم الموظف</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" disabled placeholder="اسم الموظف" asp-for="User.FullName">
                                <span asp-validation-for="User.FullName" class="fv-plugins-message-container invalid-feedback"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>


            </div>
            <div class="d-flex col-6">
                <div class="row">
                    <!--begin::Label-->
                    <label class="mb-5 col-lg-4 col-form-label fw-semibold fs-6" asp-for="User.Department.Name">القسم</label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" disabled placeholder="القسم" asp-for="User.Department.Name">
                                <span asp-validation-for="User.Department.Name" class="fv-plugins-message-container invalid-feedback"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="table-responsive">
            <form asp-action="SaveWorkDaily" method="post" id="FormWorkDaily">
            </form>
            <!-- Button to Add More WorkDaily Entries -->
            <div class="row">
                <div class="col-lg-12 m-5 text-end">
                    <button type="button" class="btn btn-info" id="addMoreWorkDailies">إضافة عمل جديد</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-content-center justify-content-center">
    <button type="submit" class="btn btn-primary mt-5" form="FormWorkDaily">
        <i class="bi bi-plus-square-dotted"></i>
        حفظ
    </button>
    <a asp-controller="WorkDaily" asp-action="IndexDate" class="btn btn-danger mt-5 me-5">
        <i class="bi bi-x-square"></i>
        الغاء
    </a>

</div>
<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />



@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Add more WorkDailies functionality
        document.getElementById('addMoreWorkDailies').addEventListener('click', function () {
            var form = document.getElementById('FormWorkDaily');
            var formCount = document.querySelectorAll('textarea[name*="WorkDailies"]').length;
            var date = '@Model.Date.Date';

            // Create a new form section with a unique ID
            var newForm = `
                            <div class="row mt-5 col-12" id="workDaily_${formCount}">
                                <!-- Work Notes Section -->
                                <div class="row mb-3 col-6">
                                    <label class="col-lg-2 col-form-label fw-semibold fs-6">ملاحظات</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                                                  name="WorkDailies[${formCount}].Note" placeholder="ملاحظات"></textarea>
                                    </div>
                                </div>

                                <!-- Work Type Section -->
                                <div class="row mb-3 col-4">
                                    <label class="col-lg-2 col-form-label fw-semibold fs-6">العمل</label>
                                    <div class="col-lg-10">
                                        <select required class="form-select form-select-solid form-select-lg fw-semibold"
                                                name="WorkDailies[${formCount}].WorkTypeId">
                                            <option value="">اختار العمل...</option>
        @foreach (var workType in Model.WorkTypes)
        {
                                                    <option value="@workType.Value">@workType.Text</option>
        }
                                        </select>
                                    </div>
                                </div>

                                <!-- Hidden Date Field -->
                                <input type="hidden" name="WorkDailies[${formCount}].Date" value="${date}" />

                                <!-- Remove Button -->
                                <div class="col-2">
                                    <button type="button" class="btn btn-danger removeWorkDaily" data-id="${formCount}">حذف</button>
                                </div>
                            </div>`;

            // Append new form section to the form
            form.insertAdjacentHTML('beforeend', newForm);

            // Attach event listener to the new Remove button to remove from UI
            document.querySelector(`#workDaily_${formCount} .removeWorkDaily`).addEventListener('click', function () {
                var id = this.getAttribute('data-id');
                // Remove the corresponding WorkDaily section from the UI
                document.getElementById(`workDaily_${id}`).remove();
            });
        });
    </script>



}



