@model EmployeeViewModel
<tr>
    <td>@Model.FullName</td>
    <td>@Model.Court</td>
    <td>@Model.Appeal</td>
    <td style="text-align:center">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary js-render-modal"
           data-title="تعديل الموظف" data-url="/Employee/Edit/@Model.Id" data-update="true">
            تعديل الموظف
        </a>
    </td>
    <td style="text-align:end">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger js-confirm"
           data-title="حذف الموظف" data-url="/Employee/Delete/@Model.Id" data-update="true" data-message="هل متأكد من حذف هذا الموظف؟">
            حذف الموظف
        </a>
    </td>
</tr>