@model EmployeeViewModel

<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label required fw-semibold fs-4" asp-for="FullName"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-12">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                    <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 fs-4" asp-for="FullName">
                    <span asp-validation-for="FullName" class="fv-plugins-message-container invalid-feedback fs-6"></span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Col-->
    </div>
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label fw-semibold fs-4" asp-for="Court"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-12">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                    <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 fs-4" asp-for="Court">
                    <span asp-validation-for="Court" class="fv-plugins-message-container invalid-feedback fs-6"></span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Col-->
    </div>
    <div class="row mb-6">
        <!--begin::Label-->
        <label class="col-lg-4 col-form-label fw-semibold fs-4" asp-for="Appeal"></label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-12">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-12 fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                    <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 fs-4" asp-for="Appeal">
                    <span asp-validation-for="Appeal" class="fv-plugins-message-container invalid-feedback fs-6"></span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Col-->
    </div>
    <partial name="_ModalFooter" />
</form>
