@model DepartmentViewModel
<tr>
    <td>@Model.Name</td>
    <td style="text-align:center">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary js-render-modal"
           data-title="تعديل القسم" data-url="/Department/Edit/@Model.Id" data-update="true">
            تعديل القسم
        </a>
    </td>
    <td style="text-align:end">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger js-confirm"
           data-title="حذف القسم" data-url="/Department/Delete/@Model.Id" data-update="true" data-message="هل متأكد من حذف هذا القسم؟">
            حذف القسم
        </a>
    </td>
</tr>