@model WorkTypeViewModel
<tr>
    <td>@Model.Name</td>
    <td style="text-align:center">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary js-render-modal"
           data-title="تعديل العمل" data-url="/WorkType/Edit/@Model.Id" data-update="true">
            تعديل العمل
        </a>
    </td>
    <td style="text-align:end">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger js-confirm"
           data-title="حذف العمل" data-url="/WorkType/Delete/@Model.Id" data-update="true" data-message="هل متأكد من حذف هذا العمل؟">
            حذف العمل
        </a>
    </td>
</tr>